
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de IMCs</title>
</head>
<body>
<h1>Histórico de Cálculos de IMC</h1>
<a href="/form">Novo Cadastro</a>
<table border="1">
    <tr><th>Nome</th><th>Peso</th><th>Altura</th><th>IMC</th></tr>
    <tr th:each="p : ${pessoas}">
        <td th:text="${p.nome}">Nome</td>
        <td th:text="${p.peso}">Peso</td>
        <td th:text="${p.altura}">Altura</td>
        <td th:text="${p.imc}">IMC</td>
    </tr>
</table>
</body>
</html>
